 #main-content
 {
  margin-top: 6rem;
 }

 #brand-name
 {
   margin-left: 20px;
   display: inline;
 }

 form
 {
   display: inline;
 }

 .progress {
  background-color: #aaa;
  -webkit-box-shadow: none;
  box-shadow: none;
}