<!-- Compare Quote page, displays a the random quote and GPT-3 response to the user, along with their similarity -->
{% extends "base.html" %}
{% block title %} Quote.ai | 404 {% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}

<!-- Unique page body -->
{% block body %}

  <!-- Page Contents go here -->
  <div>
    <h1>404: Resource not found...</h1>
  </div>

{% endblock %}