<!DOCTYPE html>
<html>
  <head>
    <!-- Initialising Javascript and CSS inclusions -->
  
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">

    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico')}}">

      <!-- Unique head HTML goes here for child pages -->
    {% block head %}
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
	</head>
  <body>
    <!-- Nav bar -->
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="{{ url_for('index') }}">
        <img src="{{ url_for('static', filename='images/favicon.ico')}}" width="30" height="30" alt="Quote.ai icon">
        <h4 id="brand-name">Quote.ai</h4>
      </a>
    </nav>

      <!-- Unique body HTML goes here for child pages -->
    <div id="main-content" class="jumbotron">
      <div class="container">
        {% block body %}
        {% endblock %}
      </div>
    </div>

      <!-- Universal footer -->
    <footer class="footer fixed-bottom text-center text-white bg-dark">
      <div class="container">
        <p class="text-center">Quote.ai</p>
      </div>
    </footer>
    <!-- From the getting started section of bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>