<!-- Compare Quote page, displays a the random quote and GPT-3 response to the user, along with their similarity -->
{% extends "base.html" %}
{% block title %} Quote.ai {% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}

<!-- Unique page body -->
{% block body %}

	<!-- Page Contents go here -->
  <h2 class="text-center">Quote</h2>
  <blockquote class="blockquote text-center">
    <p class="mb-0">{{ quote }}</p>
    <footer class="blockquote-footer">By <cite title="Source Title">{{ author }}</cite></footer>
  </blockquote>
  <h2 class="text-center">AI Prompt</h2>
  <blockquote class="blockquote text-center">
    <p class="mb-0">{{ prompt }}</p>
  </blockquote>
  <h2 class="text-center">AI Response</h2>
  <blockquote class="blockquote text-center mb-5">
    <p class="mb-0">{{ completedQuote }}</p>
    <footer class="blockquote-footer">By <cite title="Source Title">OpenAI's GPT-3 Model</cite></footer>
  </blockquote>
  <hr/>
  <h2 class="text-center mt-5">AI Response Similarity</div>
  <div class="center-block progress mt-5 mx-auto" style="width: 50%">
    <div class="progress-bar progress-bar-striped progress-bar-animated bg-dark" role="progressbar" aria-valuenow="{{ levenshteinSimilarity }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ levenshteinSimilarity }}%">{{ levenshteinSimilarity }}%</div>
  </div>
  <!-- Nav buttons -->
  <div class="text-center mt-5">
    <a class="btn btn-secondary btn-lg" href="{{ url_for('index') }}" role="button">Return home</a>
  </div>

{% endblock %}