<!-- Completed Quote page, displays the quote completion from OpenAI -->
{% extends "base.html" %}
{% block title %} Quote.ai {% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}

<!-- Unique page body -->
{% block body %}

  <!-- Page Contents go here -->
  <h2 class="text-center">Quote</h2>
  <blockquote class="blockquote text-center">
    <p class="mb-0">{{ quote }}</p>
    <footer class="blockquote-footer">By <cite title="Source Title">{{ author }}</cite></footer>
  </blockquote>
  <h2 class="text-center">AI Prompt</h2>
  <blockquote class="blockquote text-center">
    <p class="mb-0">{{ prompt }}</p>
  </blockquote>
  <h2 class="text-center">AI Response</h2>
  <blockquote class="blockquote text-center">
    <p class="mb-0">{{ completedQuote }}</p>
    <footer class="blockquote-footer">By <cite title="Source Title">OpenAI's GPT-3 Model</cite></footer>
  </blockquote>
  <div class="text-center mt-5">
    <form action="{{ url_for('compareQuote') }}" method="POST">
      {{ form.csrf_token() }}
      {{ form.quoteText(value=quote) }}
      {{ form.completedQuoteText(value=completedQuote) }}
      {{ form.authorText(value=author) }}
      {{ form.promptText(value=prompt) }}
      {{ form.submit(class="btn btn-success btn-lg") }}
    </form>
    <a class="btn btn-secondary btn-lg" href="{{ url_for('index') }}" role="button">Return home</a>
  </div>

{% endblock %}