<!-- Homepage -->
{% extends "base.html" %}
{% block title %} Quote.ai {% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}

<!-- Unique page body -->
{% block body %}

  <!-- Page Contents go here -->
  <h1 class="display-4">Welcome</h1>
  <p class="lead">Quote.ai allows you to see an AI try and complete famous quotes, given the first half of the quote</p>
  <hr class="my-4">
  <p>We use OpenAI's GPT-3 natural language model to generate completed quote responses. This response is then compared to the original quote using a text comparison algorithm</p>
  <p class="lead">
    <a class="btn btn-success btn-lg" href="{{ url_for('randomQuote') }}" role="button">Get a random quote</a>
  </p>

{% endblock %}