<!-- Random Quote page, displays a random quote to the user -->
{% extends "base.html" %}
{% block title %} Quote.ai {% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}

<!-- Unique page body -->
{% block body %}

  <!-- Page Contents go here -->
  <h2 class="text-center">Quote</h2>
  <blockquote class="blockquote text-center">
    <p class="mb-0">{{ quote }}</p>
    <footer class="blockquote-footer">By <cite title="Source Title">{{ author }}</cite></footer>
  </blockquote>
  <div class="text-center mt-5">
    <form action="{{ url_for('completedQuote') }}" method="POST">
      {{ form.csrf_token() }}
      {{ form.quoteText(value=quote) }}
      {{ form.authorText(value=author) }}
      {{ form.submit(class="btn btn-success btn-lg") }}
    </form>
    <a class="btn btn-primary btn-lg" href="{{ url_for('randomQuote') }}" role="button">Generate a new quote</a>
    <a class="btn btn-secondary btn-lg" href="{{ url_for('index') }}" role="button">Return home</a>
  </div>

{% endblock %}